* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0 ; 

}

section{
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E , #23A6D5 , #23D5AB) ; 
    background-size: 400% 400%;
    position: relative ;
    animation: change 10s ease-in-out infinite;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
img {
    vertical-align: middle;
}

nav {
    position: fixed;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}

nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    transition: .5s;
}

nav ul li {
    display: inline-block;
    font-size: 20px;
    margin: 20px 14px;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    color: rgb(51, 255, 0);
    padding: 4px 12px;
}

nav ul li a:hover {
    color: rgb(255, 238, 0);
}

nav.white ul {
    background: rgba(255, 255, 255,0.8);
}

.menu {
    display: none;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 24px 20px;
}

#header {
    width: 100%;
    height: 56vh;
    margin: auto;
    padding: inherit;
    background: url(Junk-food.jpg) no-repeat 50% 50%;
    background-size: cover;
    overflow: auto;
}

h3 {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

p {
    font-size: 20px;
    color: rgb(136, 0, 0);
    font-family: 'Aclonica';
}

#logo {
    float: left;
    position: fixed;
}

#logo_adjust {
    height: 100px;
}

#para {
    width: 90%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

@media screen and (max-width: 700px) {
    #logo {
        position: fixed;
        top: 0;
    }

    #logo_adjust {
        height: 80px;
        width: 200px;
    }

    nav {
        background-color: #fff;
    }

    nav ul {
        max-height: 0px;
    }

    nav.white ul {
        background: #fff;
    }

    .showing {
        max-height: 30em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        margin: 20px auto;
    }

    .menu {
        display: block;
    }
}

#footer {
    height: auto;
    width: 100%;
    padding: inherit;
    overflow: hidden;
    background: #222;
    position: sticky;
    z-index: 4;
    background-position: fixed;
    background-color: #222;
}

#footer_content {
    margin-left: 6%;
    margin-right: 6%;
    padding-top: 25px;
}

.footer_content_heading {
    margin: 10px 10px 0px 8px;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #21a3dfcc;
}

.footer_content_body {
    margin: 10px;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: rgba(240, 240, 240, 1.00);
}

#footer-more-container {
    display: flex;
    justify-content: space-between;
    margin: 100px 0px;
}

.footer_more {
    margin: 0px;
}

#footer_more {
    width: 100%;
    height: auto;
    color: #fff;
    margin-left: 8px;
    /*margin-left: 40px;*/
}

#footer_more_heading {
    font-size: 18px;
    font-weight: bold;
}

#footer_more ul li {
    list-style: none;
    text-align: justify;
    margin: 20px 0px;
    font-size: 15px;
    color: #E8E7E7;
    transition: ease-in-out 0.4s;
}

#footer_more ul li:hover {
    color: #fff;
}

@media screen and (max-width: 700px) {
    #footer_more div {
        margin-top: 20px;
        display: block;
    }

    #footer_more ul li {
        display: block;
        margin: 12px 2.5%;
        border-bottom: 2px solid #333;
        text-align: left;
    }
}

#footer_more ul li a {
    text-decoration: none;
    color: inherit;
}

#footer_more_connect {
    color: #fff;
    position: relative;
}

#footer_more_connect_heading {
    font-size: 18px;
    font-weight: bold;
}

#footer_more_connect ul {
    margin-left: 30px;
}

#footer_more_connect ul li {
    list-style: none;
    margin: 20px 10px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    transition: .3s;
}

#footer_more_connect ul li a {
    color: inherit;
    text-decoration: none;
}

#footer_more_connect ul li:nth-child(1):hover {
    color: #3b5998;
}

#footer_more_connect ul li:nth-child(2):hover {
    color: #e95950;
}

#footer_more_connect ul li:nth-child(3):hover {
    color: #00ff40;
}

#footer_more_connect ul li:nth-child(4):hover {
    color: #0084b4;
}

#footer_more_connect ul li:nth-child(5):hover {
    color: #db3236;
}

#footer_icons4,
#footer_icons5,
#footer_icons6,
#footer_icons7,
#footer_icons8 {
    font-size: 22px;
    color: inherit;
    padding-left: 10px;
    position: absolute;
    line-height: 18px;
    left: 0px;
    text-align: right;
}

#footer_more_connect ul li:hover #footer_icons4 {
    color: #3b5998;
}

#footer_more_connect ul li:hover #footer_icons5 {
    color: #e95950;
}

#footer_more_connect ul li:hover #footer_icons6 {
    color: #00ff40;
}

#footer_more_connect ul li:hover #footer_icons7 {
    color: #0084b4;
}

#footer_more_connect ul li:hover #footer_icons8 {
    color: #db3236;
}

#form {
    color: #fff;
}

#form h2{
    font-size: 18px;
    font-weight: bold;
}

#form form {
    margin-top: 0.5rem;
}

#form form div {
    position: relative;
    margin-block: 1.6rem;
    border-radius: 4px;
}

#form form div input:not([type="submit"]),
#form form div textarea{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 0;
    color: #fff;
    padding: 0.25rem;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid #fff/* #0084b4 */
}

#form form div input[type="submit"] {
    width: 100%;
    outline: none;
    border: 0;
    padding: 0.25rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#form form div input[type="submit"]:hover {
    background-color: #0084b4;
    color: #fff;
}

#form form div input:focus~label,
#form form div textarea:focus~label{
    top: -12px;
    font-size: 0.7rem;
    color: #0084b4;
}

#form form div input:valid~label,
#form form div textarea:valid~label{
    top: -10px;
    font-size: 0.7rem;
    color: #0084b4;
}

#form form div input:focus:not([type="submit"]) {
    border-bottom: 2px solid #0084b4;
}

#form form div input:valid:not([type="submit"]) {
    border-bottom: 2px solid #0084b4;
}

#form form div label {
    position: absolute;
    top: 0;
    left: 0;
    z-index:2;
    color: #fff;
    font-size: 0.8rem;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

#trade {
    background-color: #333;
    color: #fff;
}
#trade_align {
    text-align: center;
    padding: 7px;
}

.mySlides {
    display: none
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    height: 700px;
    position: relative;
    margin-inline: auto;

}

.slideshow-container img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}
